
<div>
  <footer class = "pannel-footer">

  <div id="contact" class="container-fluid" style="background-color:#f6f6f6;padding-left:70px;padding-right:50px;">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5" style="padding-top:20px;">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>New Delhi , India</p>
        <p><span class="glyphicon glyphicon-phone"></span > +91 7060214619</p>
        <p><span class="glyphicon glyphicon-envelope"></span > shivamgarg6541@gmail.com</p>
      </div>
      <div class="col-sm-7">
        <form action="/query" method="post">
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control is-valid" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6">
            <input class="form-control is-valid" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control is-valid" name="comments" placeholder="Comment" rows="5" style="margin-top:10px;"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </form>
      </div>
    </div>

  </div>




<!-- <div class = "container">
  <h3 class="text-muted text-right">For any queries contact us at...</h3>
  <h5 class = "text-muted text-right">shivamgarg6541@gmail.com</h5>
  <h5 class = "text-muted text-right">+91 7060214619</h5>
</div>
<div style="position : absolute ; bottom:0px; left:36%">
  <p class="text-muted text-center">Copyright &copy; 2018 by GymClub. All Rights reserved.</p>
</div> -->
</footer>

</div>

</html>
