<nav class="navbar navbar-inverse navbar-light navbar-fixed-top" id = "mynav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src= "/gym-img/gym-logo.png" class = "navbar-brand" >
      <a class="navbar-brand" style="color:#ffffff" href="/">FitnessClub</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% }else{ %>
          <li><a href = "<%= "/" +  currentUser.prop +":"+ currentUser._id %>" >Wecome <%= currentUser.name %></a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>



<% if(error && error.length>0){ %>
   <div class = "alert alert-danger" style = "margin-bottom:0px;">
     <%= error %>
   </div>
<% } %>

<% if(success && success.length>0){ %>
   <div class = "alert alert-success" style = "margin-bottom:0px;">
     <%= success %>
   </div>
<% } %>
